:root {
	--yellow: #f6c501;
	--primary-blue: #02bbea;
	--purple: #c401f5;
	--green: #4af44b;

	/* From https://www.behance.net/gallery/90125427/WARCRAFT-3-REFORGED-UIUX-DESIGN*/
	--orange: #e6a51a;
	--red: #e01a1a;
	--dark-red: #8b2635;
	--blue: #2274a5;
	--dark-purple: #574f7d;
	--light-blue: #82bdd6;
	--gray: #bbbbbb;
	--dark-gray: #070f1a;
}

@font-face {
	font-family: Folkard;
	src: url("./fonts/folkard.ttf");
}

@font-face {
	font-family: Friz;
	src: url("./fonts/Friz Quadrata TT Regular.ttf");
}

body {
	background-color: var(--dark-gray);
	color: white;
	margin: 0px;
	font-size: 20px;
	box-sizing: border-box;
	font-family: "Friz", sans-serif;
}

.upgradeImage,
.unitImage,
.abilityImage {
	height: 64px;
	width: 64px;
}

.ws-nowrap {
	white-space: nowrap;
}

.hotkey {
	color: var(--purple);
}

.text-yellow,
td.text-yellow {
	color: var(--yellow);
}

.unitInfo a,
a {
	color: var(--primary-blue);
	text-decoration: none;
}

.text-blue,
td.text-blue {
	color: var(--primary-blue);
}

.text-green,
td.text-green {
	color: var(--green);
}

.text-red,
td.text-red {
	color: var(--red);
}

.text-purple,
td.text-purple {
	color: var(--purple);
}

td.name {
	font-size: 20px;
}

td.description h4:first-of-type {
	margin-top: 12px;
}

.feed {
	/* disable text going to next line */
	white-space: nowrap;
}

.mainImg {
	width: 64px;
}

/* when :target, play little highlight animation (using url#something to focus) */
@keyframes highlight {
	0% {
		background-color: transparent;
	}
	50% {
		background-color: var(--primary-blue);
	}
	100% {
		background-color: transparent;
	}
}

:target > td {
	animation: highlight 3s ease-in-out;
}

/* Dont let table text overflow on next line (keep text in one line) */
.wideTable td,
.wideTable th {
	white-space: nowrap;
}

.tableWrapper {
	overflow-x: auto;
}

/* Table borders like in-game */
.customTableWrapper {
	position: relative;
	display: inline-block;
}

/* .customTableWrapper .customTopBorder {
	z-index: 1000;
	background-image: url("/images/frames/war3_frame_divider_horizontal_repeat_4k.png");
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
} */

.customTableWrapper .customBottomBorder,
.customTableWrapper .customTopBorder {
	z-index: 1000;
	background-image: url("/images/table_frames/frame_horizontal.png");
	background-repeat: repeat-x;
	background-size: contain;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 20px;
}

.customTableWrapper .customBottomBorder {
	top: auto;
	bottom: 0;
}

.customTableWrapper .customLeftBorder,
.customTableWrapper .customRightBorder {
	z-index: 1000;
	background-image: url("/images/table_frames/frame_vertical.png");
	background-repeat: repeat-y;
	background-size: contain;
	position: absolute;
	left: 0;
	width: 20px;
	height: calc(100% - 40px);
}

.customTableWrapper .customRightBorder {
	left: auto;
	right: 0;
}

.customTableWrapper .customTopRightBorder,
.customTableWrapper .customTopLeftBorder,
.customTableWrapper .customBottomLeftBorder,
.customTableWrapper .customBottomRightBorder {
	background-image: url("/images/table/frame_corner.png");
	z-index: 1000;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
}

.customTableWrapper .customTopLeftBorder {
	/* rotate bg 90deg */
	transform: rotate(-90deg);
}

.customTableWrapper .customTopRightBorder {
	left: auto;
	right: 0;
}

.customTableWrapper .customBottomLeftBorder {
	top: auto;
	bottom: 0;
	transform: rotate(180deg);
}

.customTableWrapper .customBottomRightBorder {
	top: auto;
	left: auto;
	bottom: 0;
	right: 0;
	transform: rotate(90deg);
}

.customTableWrapper {
	padding: 20px;
}

.customTable {
	margin: 0px;
}

.customTable,
.customTable tbody,
.customTable th,
.customTable td {
	background: none;
}

.customTable {
	background-image: url("/images/table/bg.png");
}
