@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
@import url("./scroll.css");
@import url("./tables.css");
@import url("./nav.css");
@import url("./units.css");
@import url("./home.css");
/* @import url("./customTable.css"); */

h1,
h2 {
	text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

:root {
	--yellow: #f6c501;
	--primary-blue: #02bbea;
	--purple: #c401f5;
	--green: #4af44b;

	/* From https://www.behance.net/gallery/90125427/WARCRAFT-3-REFORGED-UIUX-DESIGN*/
	--orange: #e6a51a;
	--red: #e01a1a;
	--dark-red: #8b2635;
	--blue: #2274a5;
	--dark-purple: #574f7d;
	--light-blue: #82bdd6;
	--gray: #bbbbbb;
	--dark-gray: #070f1a;
}

@font-face {
	font-family: Folkard;
	src: url("./fonts/folkard.ttf");
}

@font-face {
	font-family: Friz;
	src: url("./fonts/Friz Quadrata TT Regular.ttf");
}

@font-face {
	font-family: LifeCraft;
	src: url("./fonts/LifeCraft.ttf");
}

@font-face {
	font-family: Morpheus;
	src: url("./fonts/Morpheus.ttf");
}

* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

.super {
	font-size: 20px;
	vertical-align: super;
}

body {
	background-color: var(--dark-gray);
	min-height: 100vh;
	color: white;
	margin: 0px;
	font-size: 20px;
	box-sizing: border-box;
	font-family: "Friz", sans-serif;
}

.lifecraft {
	font-family: "LifeCraft", sans-serif;
	letter-spacing: 0.2rem;
	word-spacing: 0.3rem;
}

.morpheus {
	font-family: "Morpheus", sans-serif;
	word-spacing: 0.3rem;
}

.ws-nowrap {
	white-space: nowrap;
}

.hotkey {
	color: var(--purple);
}

.text-yellow,
td.text-yellow {
	color: var(--yellow);
}

a,
.unitInfo a {
	color: var(--primary-blue);
	text-decoration: none;
}

a:hover,
.unitInfo a:hover {
	color: var(--primary-blue);
	filter: brightness(1.2);
}

.text-blue,
td.text-blue {
	color: var(--primary-blue);
}

.text-green,
td.text-green {
	color: var(--green);
}

.text-red,
td.text-red {
	color: var(--red);
}

.text-purple,
td.text-purple {
	color: var(--purple);
}

.text-dark-purple,
td.text-dark-purple {
	color: var(--dark-purple);
}

/* Page divider */
hr {
	opacity: 1;
	height: 8px;
	background-image: linear-gradient(
		90deg,
		transparent,
		var(--primary-blue),
		transparent
	);
	border: 0;
	height: 1px;
}

.feed {
	/* disable text going to next line */
	white-space: nowrap;
}

/* when :target, play little highlight animation (using url#something to focus) */
@keyframes highlight {
	0% {
		background-color: transparent;
	}
	50% {
		background-color: var(--primary-blue);
	}
	100% {
		background-color: transparent;
	}
}

/* :target > td {
	animation: highlight 3s ease-in-out;
} */

.scrolledIntoView,
.scrolledIntoView > td {
	animation: highlight 3s ease-in-out;
}

* {
	scroll-margin-top: 5rem;
}

/* Dont let table text overflow on next line (keep text in one line) */
.wideTable td,
.wideTable th {
	white-space: nowrap;
}

.tableWrapper {
	overflow-x: auto;
}

#scrollToTop {
	display: none;
	position: fixed;
	border-radius: 100%;
	width: 64px;
	height: 64px;
	background: var(--blue);
	color: white;
	bottom: 1.5rem;
	right: 1.5rem;
	font-size: 2rem;
	opacity: 0.8;
	transition: opacity 0.1s ease-in-out;
}

#scrollToTop:hover {
	opacity: 1;
}
